.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    /* 네번째 값은 투명도 70% 설정 */
}

.show {
    display: block;
}

.modal-content {
    background-color: white;
    margin: 20% auto;
    padding: 40px;
    width: 300px;
    text-align: center;
    border-radius: 8px;
}

/* 22 Timeout.html 코드 참고 */